<div id="main-home">
  <h1>Home</h1>
  <div id="home-description">
    Welcome to the contacts app made by Myles Parker! Don't forget to start your server with node server.js within the server folder. Click on the My Contacts tab to see your list of contacts. Click on the Create Contact page to create a new contact for your list.
  </div>
  <h1 style="color: #FF3B3F">Instructions</h1>
  <div id="instructions">
    To navigate between pages, click the tabs at the top of the screen. On the "My Contacts" page, to view a contact's details you must click on the name of the contact. To edit that contact, select the <i  class="edit fa fa-pencil" aria-hidden="true"></i>. To delete the contact, select the <i class="delete fa fa-trash" aria-hidden="true"></i>.
  </div>
</div>

